{% extends 'base.html' %}
{% load static %}
{% block page_content %}
  <!-- about section -->

    <section class="news_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
      <div class="hero_area">
          {% if not partners %}
            <p class="no-articles">No partners yet</p>
          {% else  %}
    <h1>Meet our Partners</h1>


    <section class="news_section layout_padding">



    <div class="parent">
         {% for partner in partners %}

        <div id="heading">
        <img src="{{ partner.image }}" alt=""   />

            {% if request.user.is_superuser or request.user.is_staff %}
             <div class="buttons">
                <a href="{% url 'delete partner' partner.pk %}" class="button">Delete</a>
            </div>
        {% endif %}

        </div>

          {% endfor %}
    </div>



    </section>
          {% endif %}
      </div>
    </div>
    </div>

    </section>
  <!-- end info_section -->

{% endblock %}