{% extends 'base.html' %}
{% block page_content %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="hero_area">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Inboxxxx</h2>
						<a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a>

						<hr>

						<div>
							<ul class="nav nav-pills nav-stacked">

								<li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox ({{ total_messages }})</a></li>



							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->

					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-6">
								<label style="margin-right: 8px;" class="">
									<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
								</label>
								<div class="btn-group">

								</div>
							</div>



						<div class="padding"></div>

						<div class="table-responsive">
							<table class="table">
								<tbody>
                                {% for el in messages %}
                                <tr>



									<td class="name"><a href="#">{{ el.email }}</a></td>

									<td class="subject"><a href="{% url 'user message' el.id %}">{{ el.message }}</a></td>
									<td class="time">{{ el.time }}</td>
                                    <td class="name">
                                        <div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{% url 'message delete' el.pk %}">Delete</a></li>
									</ul>
								</div>



                                    </td>
								</tr>
                                {% endfor %}
							</tbody></table>
						</div>

						 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
					</div>
					<!-- END INBOX CONTENT -->

					<!-- BEGIN COMPOSE MESSAGE -->
					<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-wrapper">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
									</div>
									<form method="post" action="{% url 'message sent' %}">
                                        {% csrf_token %}
										<div class="modal-body">
											<div class="form-group">
												<input name="to" type="email" class="form-control" placeholder="To">
											</div>
											<div class="form-group">
												<input name="cc" type="email" class="form-control" placeholder="Cc">
											</div>
											<div class="form-group">
												<input name="bcc" type="email" class="form-control" placeholder="Bcc">
											</div>
											<div class="form-group">
												<input name="subject" type="email" class="form-control" placeholder="Subject">
											</div>
											<div class="form-group">
												<textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;"></textarea>
											</div>
											<div class="form-group">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
                                            <a class='button' href='{% url 'message sent' %}'>Send Message</a>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END COMPOSE MESSAGE -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
</div>
</div>

{% endblock %}