{% extends 'base.html' %}

{% block page_content %}
    <h1 class="text-center">Password Change</h1>
    <div class="hero_area">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <!-- Login Form -->
            <form method="POST" action="{% url 'edit password' %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Change your password</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="col-lg-3"></div>
    </div>
    </div>
{% endblock %}